/* ----- BASE STYLES ----- */

html { 
	font-size: 18px;
}

body {
	color: #333e48;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: #5f6151;
	font-weight: 700;
}

h1 {
	font-size: 2.666em;
	margin: 1.2em auto .7em;
}
h2 {
	font-size: 2em;
	margin: 1em auto .5em;
}
h3 {
	font-size: 1.555em;
}

p {
	color: #7f7f7f;
    font-size: 21px;
    line-height: 40px;
    padding: 0 50px;
}

span {
	font-family: 'Dancing Script', cursive;
}

/* ----- HEADER ----- */

header {
	background: url('../img/full-background.png');
	background-size: cover;
	background-position: right;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 500px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header h1 {
	width: 100%;
}

header nav {
	width: 100%;
	background: #e2e5cb;
}

header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: none;
	font-size: 1em;
	padding: 10px 10px;
	list-style: none;
	border-top: 3px solid white;
}

header nav ul li a{
	text-decoration: none;
	color:#5f6151;
	font-size: 1.222em;
}

/* ----- ABOUT ----- */

#about {
	background: #ebebeb;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.about-section {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column wrap;
}

#about img#about-img {
	margin: 35px;
	border: 12px solid #fff;
	align-self: center;
}

#about h2 {
	padding: 0 50px;
}

#about p {
	color: #7f7f7f;
	font-size: 21px;
	line-height: 40px;
	padding: 0 50px;
}

/* ----- CLASSES ----- */

#classes {
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.primary-button {
	text-decoration: none;
	color:#5f6151;
	font-size: 1.222em;
	background-size: 100%;
    box-sizing: border-box;
    margin: 25px auto;
    text-align: center;
    width: auto;
    cursor: pointer;
    background: linear-gradient(to bottom,#e2e5cb 4%,#bcc388 96%);
    border-radius: 3px;
    padding: .8em 1.5em;
    border-radius: 3px;
}

/* ----- CONTACT ----- */

#contact {
	background: #ebebeb;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

#contact img#contact-img {
	border: 12px solid #fff;
	margin: 35px;
}

#contact .contact-image {
	order: 2;
}

#contact .contact-details {
	order: 1;
	margin: 35px;
	text-align: center;
}

#contact h2 { 
   text-align: center;
   margin: 0px;
}

#contact a {
	color: #5f6151;
	font-size: 1em;
	text-decoration: none;
}

#contact p {
	color: #5f6151;
	font-size: 1em;
	text-decoration: none;
	margin: 10px auto;
}

/* ----- RESPONSIVE ----- */

/* Tablet stysle here */
@media only screen and (min-width: 768px) {

	.container{
		max-width: none;
		display: block;
	}

	.content-wrapper {
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
	    flex-basis: 100%;
	}

	header {
	    padding-bottom: 400px;
	    justify-content: flex-start;
	}

	header h2 {
	    margin: 50px 168px;
	    font-size: 2.4em;
	}

	header h1 {
		width: 30%;
		text-align: left;
		font-size: 1.666em;
		margin: 25px auto;
	}

	header nav {
		width: 30%;
		background: none;
		margin: 25px auto;
	}

	header nav ul {
		display: flex;
	    align-items: center;
	    justify-content: space-around;
	    max-width: 720px;
	}

	header nav ul li {
		text-transform: none;
		font-size: 1em;
		padding: 10px 10px;
		list-style: none;
		border-top: none;
	}

	#contact {
		justify-content: space-evenly;
	}
}

/* Desktop stysle here */
@media only screen and (min-width: 1200px) {

	header h2 {
	    font-size: 2.777em;
	}
}